.categoryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .searchContainer {
    align-items: center;
    width: 60%; 
  }
  
 .displayContainer{
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
 }

  .navLink {
    margin: 0 20px;
    text-decoration: none;
    color: #333; 
  }
  
 .cartQuantity {
	position: absolute;
	top: 110px;
}

 .displayName{
  color: var(--color-hover);
}
.wishList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
 
}
