.dashboard-items {
	display: flex;
	justify-content: space-between;
	color: #4c4c4c;
	font-size: 1.2rem;
}

.info-box-paper {
	border-bottom: 3px solid;
	padding-bottom: 10px;
	padding: 10px;
}

.earningPaper {
	border-color: green;
}

.productPaper {
	border-color: blue;
}

.ordersPaper {
	border-color: orange;
}

.dashboard-item {
	font-size: 2rem;
	padding-top: 10px;
}
