.admin-search {
	margin: 0 !important;
	width: 15% !important;
}

.view-products {
	margin-bottom: 3rem;
	overflow-y: scroll;
}

.view-products::-webkit-scrollbar {
	display: none;
}

.view-products {
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}
