.product-product {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 4rem;
}
.product-review {
	border-top: 1px solid #ccc;
}
.product-details {
	padding-top: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	box-shadow: 0 0 5px rgba(58, 42, 27, 0.315) ;
	padding: 20px;
	margin: 20px auto;
	border-radius: 2px;
}
.product-img {
	width: 40%;
	border-radius: 5px;
	margin: 20px;
}
.product-img > img {
	width: 100%;
}

.product-content {
	width: 55%;
	padding: 0 5px;
	background-color: #0e0d0d;
	color: var(--color-font);
	border-radius: 10px;
	padding: 15px;
}
.product-content > * {
	margin-bottom: 1rem;
	padding-right: 10px;
}

.product-content > b {
	margin-right: 10px;
}
.product-price {
	color: var(--color-hover);
	font-weight: 700;
}

.product-count {
	display: flex;
	align-items: center;
}
.product-count > * {
	margin-right: 0.5rem;
}

a {
	text-decoration: none;
	color: var(--color-hover)
}

.product-detail-btn:hover {
	background-color: #fff;
	border: 1px solid var(--color-hover);
	color: var(--color-hover);
}

.product-review-rate {
	margin: 5rem auto;
	border-radius: 2px !important;
	padding: 20px 20px 0px 20px;
}

.review{
	line-height: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.192);
	margin-bottom: 10px;
}

.starRating{
	width: 20px;
}

.go1912087031{
	font-size: 1.5rem !important;
}

.reviewUser{
	color: var(--color-hover) !important;
	margin-right: 10px;
}

.reviewDate{
	font-size: 0.8rem;
}
@media screen and (max-width: 700px) {
	.product-product .product-details {
		flex-direction: column;
	}
	.product-img {
		width: 100%;
	}

	.product-content {
		width: 100%;
	}
}
