.sectionContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px 0; 
	background-color: var(--color-font);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	position: relative;
}

.headerFixed {
    position: fixed;
	top: 0;
	transition: all 0.5s;
	z-index: 9;	
}

.navBar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  }

  .logo {
	font-size: 2.5rem; 
	font-weight: bold; 
	margin-right: 20px; 
	color: var(--color-background) !important;
  }

.nav {
	display: flex;
	align-items: center;
	margin-left: 20px;
	color: red;
  }

.nav a {
	margin-left: 35px; 
	text-decoration: none;
	color: var(--color-background);
	font-size: 1rem; 
	
  }
  
  .nav a:hover {
	color: var(--color-hover);
	transition: color 0.3s;
	font-weight: 500;
}

.navActive {
	color: "ffb700";
	font-weight: 600;
	text-decoration: underline;
}

.navLink {
	margin-left: 10px;
	font-size: 1rem;
	text-decoration: none;
	color: black;
}

.wishList {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }

.cartQuantity {
	position: absolute;
	top: 10px;
}

.hActive {
	color: var(--color-hover);
	text-decoration: none;
	margin-left: 5px;
}

.css-19r6kue-MuiContainer-root{
	padding-left: 0px !important;
}
